<section class="content-section">
  <div class="container">
    <div class="two-column ratio-{{ column_ratio|default('50-50') }}">
      <div class="column column-left">
        {% if left_image %}
        <img src="{{ left_image }}" alt="" class="column-image">
        {% endif %}
        <div class="column-content">
          {% for paragraph in left_content.split('\n\n') %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="column column-right">
        {% if right_image %}
        <img src="{{ right_image }}" alt="" class="column-image">
        {% endif %}
        <div class="column-content">
          {% for paragraph in right_content.split('\n\n') %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
